// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuBg:#0071f5; // 侧边菜单背景底色
$menuText:#ffffff; // 左侧菜单列表字体默认颜色
$menuHoverText:#ffffff; // 左侧菜单列表 hover 时字体颜色
$menuHoverBg:#005ecf; // 左侧菜单列表 hover 时背景颜色

$menuActiveBg:#005ecf;
$menuActiveText:#ffffff;

$subMenuActiveText:#ffffff;

$menuHover:#005ecf;

$subMenuBg:#0071f5;

$subMenuHover:#0070f4;

$sideBarWidth: 200px;

$headerHeight: 66px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  // menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
}
